*, *::before, *::after{
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: aqua;
    color: black;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    
}

.title{
    display: flex;
    margin: 3rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

img{
    display: flex;
    max-width: 80%;
}

.top{
    display:flex;
    background-color: rgb(rgb(92, 137, 155));
    justify-content: center;
    align-items: center;
}

.selfpromo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
a{
    display: flex;
    color: black;
    padding: 1em;
    gap: .5em;
    flex-flow: column nowrap;
    text-decoration-line: none;

}

.bars{
    display: flex;
    flex-basis: 50%;
    padding: .5em;
    margin: .5em;
    flex-wrap: nowrap;
    font-size: 1.5em;

}

.food{
    display: flex;
    background-color: rgb(4, 142, 167);
    padding: .5em;
    margin:.5em;
    flex: 1 1 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.menu{
    display: flex;
    font-size: 3em;
    writing-mode: vertical-lr;
    text-orientation: upright;
    align-items: center;
    justify-content:center;
}

.subtext{
    display: flex;
    max-width: 80%;
    min-width: none;
    justify-content: space-around;
    text-align: center;
}

.review{
    display: flex;
    background-color: rgb(182, 179, 179);
    font-size: 1.5em;
    padding: .5em;
    margin: .5em;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;

}

.bottom{
    display: flex;
    min-width: 100%;
    padding: .5em;
    margin: 3em;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.footer{
    display: flex;
    min-width: 100%;
    padding: .5em;
    margin: 3em;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}