*, *::before, *::after{
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: aqua;
    color: black;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    
}

img{
    display: flex;
    max-width: 100%;
    
}

.head{
    display:flex;
    background-color: rgb(rgb(92, 137, 155));
    justify-content: center;
    align-items: center;
}

.food{
    display: flex;
    background-color: rgb(4, 142, 167);
    margin: .5em;
    flex-basis: auto;
    flex-flow: 1 1 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

h2{
    display: flex;
    align-items: center;
    justify-content:center;
}

.review{
    display: flex;
    padding: 5em;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

}

.bottom{
    display: flex;
    padding: 5em;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
}

.footer{
    display: flex;
    padding: 5em;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}