*, *::before, *::after{
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: aqua;
    color: black;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    
}

.title{
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

img{
    display: flex;
    max-width: 80%;
    min-width: none;

    
}

.top{
    display:flex;
    background-color: rgb(rgb(92, 137, 155));
    justify-content: center;
    align-items: center;
}

.selfpromo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.links{
    display: flex;
    padding: .5em;
    margin: .5em;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-around;

}

.bars{
    display: flex;
    padding: .5em;
    margin: .5em;
    flex-wrap: nowrap;
    font-size: 1.5em;

}

.food{
    display: flex;
    background-color: rgb(4, 142, 167);
    padding: .5em;
    margin:.5em;
    flex-basis: auto;
    flex-flow: 1 1 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.menu{
    display: flex;
    font-size: 3em;
    writing-mode: vertical-lr;
    text-orientation: upright;
    align-items: center;
    justify-content:center;
}

.subtext{
    display: flex;
    max-width: 80%;
    min-width: none;
    justify-content: space-around;
    text-align: center;
}

.review{
    display: flex;
    font-size: 1.5em;
    padding: .5em;
    margin: 3em;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

}

.bottom{
    display: flex;
    min-width: 100%;
    padding: .5em;
    margin: 3em;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.footer{
    display: flex;
    min-width: 100%;
    padding: .5em;
    margin: 3em;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}